<!--Skip to content-->
<!--Search or jump to…-->
<!--Pull requests-->
<!--Issues-->
<!--Marketplace-->
<!--Explore-->

<!--@kimkim1105-->
<!--ChuKien15121998-->
<!--/-->
<!--MD6_FINAL-PROJECT_TNAG_FE-->
<!--Public-->
<!--Code-->
<!--Issues-->
<!--Pull requests-->
<!--Actions-->
<!--Projects-->
<!--Wiki-->
<!--Security-->
<!--Insights-->
<!--MD6_FINAL-PROJECT_TNAG_FE/src/app/share/footer/footer.component.html-->
<!--@AuPhong-->
<!--AuPhong footer-->
<!--Latest commit 6daa9bd 17 hours ago-->
<!--History-->
<!--1 contributor-->
<!--144 lines (142 sloc)  7.76 KB-->

<!--<section class="section pt-5 pb-5 text-center bg-white">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-sm-12">-->
<!--        <h5 class="m-0">Bạn có cửa hàng? <a href="login.html">Gia nhập với chúng tôi cùng cung cấp sản phẩm tốt nhất cho khách hàng</a></h5>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--<section class="footer pt-5 pb-5">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-4 col-12 col-sm-12">-->
<!--        <h6 class="mb-3">Đăng ký nhận thông tin khi có giảm giá</h6>-->
<!--        <form class="newsletter-form mb-1">-->
<!--          <div class="input-group">-->
<!--            <input type="text" placeholder="Email của bạn" class="form-control">-->
<!--            <div class="input-group-append">-->
<!--              <button type="button" class="btn btn-primary">-->
<!--                Đăng ký-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--        <p><a class="text-info" href="register.html">Đăng ký</a> để nhận<a-->
<!--          href="offers.html"> hàng ngàn ưu đãi khác</a></p>-->
<!--        <div class="app">-->
<!--          <p class="mb-2">DOWNLOAD APP</p>-->
<!--          <a href="#">-->
<!--            <img class="img-fluid" src="img/google.png">-->
<!--          </a>-->
<!--          <a href="#">-->
<!--            <img class="img-fluid" src="img/apple.png">-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-1 col-sm-6 mobile-none">-->
<!--      </div>-->
<!--      <div class="col-md-2 col-6 col-sm-4">-->
<!--        <h6 class="mb-3">Về chúng tôi</h6>-->
<!--        <ul>-->
<!--          <li><a href="#">Thông tin liên hệ</a></li>-->
<!--          <li><a href="#">Văn hóa doanh nghiệp</a></li>-->
<!--          <li><a href="#">Tầm nhìn - Sứ mệnh</a></li>-->
<!--          <li><a href="#">Tuyển dụng</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-md-2 col-6 col-sm-4">-->
<!--        <h6 class="mb-3">Dành cho cửa hàng</h6>-->
<!--        <ul>-->
<!--          <li><a href="#">Hỗ trợ kỹ thuật</a></li>-->
<!--          <li><a href="#">Hỗ trợ bán hàng</a></li>-->
<!--          <li><a href="#">Góp ý</a></li>-->
<!--          <li><a href="#">Khiếu nại</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-md-2 m-none col-4 col-sm-4">-->
<!--        <h6 class="mb-3">Khách hàng</h6>-->
<!--        <ul>-->
<!--          <li><a href="#">Bảo vệ quyền lợi người tiêu dùng</a></li>-->
<!--          <li><a href="#">Chăm sóc khách hàng</a></li>-->
<!--          <li><a href="#">Khiếu nại</a></li>-->
<!--          <li><a href="#">Góp ý</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--<section class="footer-bottom-search pt-5 pb-5 bg-white">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-xl-12">-->
<!--        <p class="text-black">Từ khóa phổ biến</p>-->
<!--        <div class="search-links">-->
<!--          <a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a-->
<!--          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a-->
<!--          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> | <a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a-->
<!--          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a-->
<!--          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a-->
<!--          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a-->
<!--          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a-->
<!--          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a-->
<!--          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a-->
<!--          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a-->
<!--          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a-->
<!--          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a-->
<!--          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a>-->
<!--        </div>-->
<!--        <p class="mt-4 text-black">Danh mục món ăn</p>-->
<!--        <div class="search-links">-->
<!--          <a href="#">Fast Food</a> | <a href="#">Chinese</a> | <a href="#">Street Food</a> | <a-->
<!--          href="#">Continental</a> | <a href="#">Mithai</a> | <a href="#">Cafe</a> | <a href="#">South-->
<!--          Indian</a> | <a href="#">Punjabi Food</a> | <a href="#">Fast Food</a> | <a-->
<!--          href="#">Chinese</a> | <a href="#">Street Food</a> | <a href="#">Continental</a> | <a-->
<!--          href="#">Mithai</a> | <a href="#">Cafe</a> | <a href="#">South Indian</a> | <a-->
<!--          href="#">Punjabi Food</a><a href="#">Fast Food</a> | <a href="#">Chinese</a> | <a-->
<!--          href="#">Street Food</a> | <a href="#">Continental</a> | <a href="#">Mithai</a> | <a-->
<!--          href="#">Cafe</a> | <a href="#">South Indian</a> | <a href="#">Punjabi Food</a> | <a-->
<!--          href="#">Fast Food</a> | <a href="#">Chinese</a> | <a href="#">Street Food</a> | <a-->
<!--          href="#">Continental</a> | <a href="#">Mithai</a> | <a href="#">Cafe</a> | <a href="#">South-->
<!--          Indian</a> | <a href="#">Punjabi Food</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<footer class="pt-4 pb-4 text-center">
  <div class="container">
    <div class="row">
      <div class="col-8 text-left">
        <p class="mt-0 mb-0">Lớp C0222I1</p>
        <p class="mt-0 mb-0">Nhóm : PHÁT SÚNG CUỐI CÙNG</p>
        <ul>
          <li>Chu Văn Kiên <a href="mailto: chuvankien151298@gmail.com">chuvankien151298@gmail.com</a></li>
          <li>Nguyễn Thị Kim Huệ <a href="mailto: huenk105@gmail.com">huenk105@gmail.com</a></li>
          <li>Nguyễn Khắc Hùng <a href="mailto: nguyenkhachung0708@gmail.com">nguyenkhachung0708@gmail.com</a></li>
          <li>Hồ Anh Dũng <a href="mailto: hodung@gmail.com">hodung@gmail.com</a>
          </li>
          <li>Âu Minh Phong <a href="mailto: stthu98@gmail.com">stthu98@gmail.com</a></li>
        </ul>
      </div>
      <div class="col-4 text-right">
        <p class="mt-0 mb-0">CodeGym.vn</p>
        <p class="mt-0 mb-0">Công ty CP CodeGym Việt Nam</p>
      </div>
    </div>

<!--    <p class="mt-0 mb-0">© Template copyright 2020 thaotrinhminh@gmail.com. All Rights Reserved</p>-->
<!--    <small class="mt-0 mb-0"> Made with <i class="fas fa-heart heart-icon text-danger"></i> by-->
<!--      <a class="text-danger" target="_blank"-->
<!--         href="http://thaotrinh.info">thaotrinh.info</a>-->
<!--    </small>-->
  </div>
</footer>
<!--<footer class="pt-4 pb-4 text-center">-->
<!--  <div class="container">-->
<!--    <p class="mt-0 mb-0">© Copyright 2020 thaotrinhminh@gmail.com. All Rights Reserved</p>-->
<!--    <small class="mt-0 mb-0"> Made with <i class="fas fa-heart heart-icon text-danger"></i> by-->
<!--      <a class="text-danger" target="_blank"-->
<!--         href="http://thaotrinh.info">thaotrinh.info</a>-->
<!--    </small>-->
<!--  </div>-->
<!--</footer>-->
<!--Footer-->
<!--© 2022 GitHub, Inc.-->
<!--Footer navigation-->
<!--Terms-->
<!--Privacy-->
<!--Security-->
<!--Status-->
<!--Docs-->
<!--Contact GitHub-->
<!--Pricing-->
<!--API-->
<!--Training-->
<!--Blog-->
<!--About-->
<!--Footer-->
<!--© 2022 GitHub, Inc.-->
<!--Footer navigation-->
<!--Terms-->
<!--Privacy-->
<!--Security-->
<!--Status-->
<!--Docs-->
<!--Contact GitHub-->
<!--Pricing-->
<!--API-->
<!--Training-->
<!--Blog-->
<!--About-->
