<section class="restaurant-detailed-banner">
  <div class="text-center">
    <img class="img-fluid cover" src="{{restaurant.imageBanner}}">
  </div>
  <div class="restaurant-detailed-header">
    <div class="container">
      <div class="row d-flex align-items-end">
        <div class="col-md-8">
          <div class="restaurant-detailed-header-left">
            <img class="img-fluid mr-3 float-left" alt="osahan" src="{{restaurant.avatar}}">
            <h2 class="text-white">{{restaurant.name}}</h2>
            <p class="text-white mb-1"><i class="icofont-location-pin"></i>{{restaurant.address}}</p>
            <p class="text-white mb-0"><i class="icofont-phone-circle"></i> {{restaurant.phoneNumber}}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="restaurant-detailed-header-right text-right">
            <button class="btn btn-success" type="button"><i class="icofont-clock-time"></i> Đang mở cửa
              {{restaurant.openTime}} - {{restaurant.closeTime}}
            </button>
            <!--            <h6 class="text-white mb-0 restaurant-detailed-ratings"><span-->
            <!--              class="generator-bg rounded text-white"><i class="icofont-star"></i> 3.1</span> 23-->
            <!--              Ratings <i class="ml-3 icofont-speech-comments"></i> 91 reviews</h6>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="offer-dedicated-nav bg-white border-top-0 shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--                    <span class="restaurant-detailed-action-btn float-right">-->
        <!--                        <button class="btn btn-light btn-sm border-light-btn" type="button"><i-->
        <!--                          class="icofont-heart text-danger"></i> Yêu thích</button>-->
        <!--                    </span>-->
        <ul class="nav" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-order-online-tab" data-toggle="pill"
               href="#pills-order-online" role="tab" aria-controls="pills-order-online"
               aria-selected="true">Đặt món</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" id="pills-gallery-tab" data-toggle="pill" href="#pills-gallery"-->
<!--               role="tab" aria-controls="pills-gallery" aria-selected="false">Thư viện ảnh</a>-->
<!--          </li>-->
          <!--          <li class="nav-item">-->
          <!--            <a class="nav-link" id="pills-reviews-tab" data-toggle="pill" href="#pills-reviews"-->
          <!--               role="tab" aria-controls="pills-reviews" aria-selected="false">Đánh giá & Reviews</a>-->
          <!--          </li>-->
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="offer-dedicated-body pt-2 pb-2 mt-4 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="offer-dedicated-body-left">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-order-online" role="tabpanel"
                 aria-labelledby="pills-order-online-tab">
              <div id="#menu" class="row">
                <h5 class="mb-4 mt-3 col-md-12">Bán chạy</h5>
                <div class="col-md-4 col-sm-6 mb-4" *ngFor="let res of top3_restaurant">
                  <div
                    class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                    <div class="list-card-image">
                      <!-- <div class="star position-absolute"><span class="badge badge-success"><i
                                  class="icofont-star"></i> 3.1 (300+)</span></div> -->
                      <div class="favourite-heart text-danger position-absolute"><a><i class="icofont-heart"></i></a></div>
                      <div class="member-plan position-absolute"><span
                        class="badge badge-dark">Promoted</span></div>
                      <a>
                        <img src="{{res.image}}"  style="height: 200px;width: 100%" class="img-fluid item-img">
                      </a>
                    </div>
                    <div class="p-3 position-relative">
                      <div class="list-card-body">
                        <h6 class="mb-1"><a class="text-black">{{res.name}}</a></h6>
                        <p class="text-gray mb-2">{{res.merchant.address}}</p>
                        <p class="text-gray time mb-0"><a
                          class="btn btn-link btn-sm text-black" >{{res.price| currency: 'VND':''}} VND
<!--                          <span-->
<!--                          class="badge badge-success">5% Giảm</span>-->
                        </a> <span
                          class="float-right">
                                                            <a (click)="addToCart(res.id)" class="btn btn-outline-secondary btn-sm">Mua
                                                                ngay</a>
                                                        </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <h5 class="mb-4 mt-3 col-md-12">Danh sách món ăn <small class="h6 text-black-50">
                </small></h5>
                <div class="col-md-12">
                  <div class="bg-white rounded border shadow-sm mb-4">
                    <div *ngFor="let food of listFood" class="menu-list p-3 border-bottom">
                       <span
                         class="count-number float-right">
                                                            <a (click)="addToCart(food.id)" class="btn btn-outline-secondary btn-sm">Mua
                                                                ngay </a>
                                                        </span>
                                                <span class="count-number float-right">
                                                    <button (click)="decreaseFromCart(food.id)" class="btn btn-outline-secondary  btn-sm left dec"> <i
                                                      class="icofont-minus"></i> </button>
<!--                                                    <input id="food-num-{{food.id}}" class="count-number-input" type="text" value="1">-->
                                                  <app-cart-detail-restaurant food_id="{{food.id}}"></app-cart-detail-restaurant>
                                                    <button (click)="increaseFromCart(food.id)" class="btn btn-outline-secondary btn-sm right inc"> <i
                                                      class="icofont-plus"></i> </button>
                                                </span>
                      <div class="media">
                        <img class="mr-3 rounded-pill" src="{{food.image}}"
                             alt="Generic placeholder image">
                        <div class="media-body">
                          <h6 class="mb-1">{{food.name}}</h6>
                          <p class="text-gray mb-0">{{food.price| currency: 'VND':''}} VND</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
<!--            <div class="tab-pane fade" id="pills-gallery" role="tabpanel"-->
<!--                 aria-labelledby="pills-gallery-tab">-->
<!--              <div id="gallery" class="bg-white rounded shadow-sm p-4 mb-4">-->
<!--                <div class="restaurant-slider-main position-relative homepage-great-deals-carousel">-->
<!--                  <div class="owl-carousel owl-theme homepage-ad">-->
<!--                    <div class="item">-->
<!--                      <img class="img-fluid" src="img/gallery/1.png">-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                      <img class="img-fluid" src="img/gallery/2.png">-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                      <img class="img-fluid" src="img/gallery/3.png">-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                      <img class="img-fluid" src="img/gallery/1.png">-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                      <img class="img-fluid" src="img/gallery/2.png">-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                      <img class="img-fluid" src="img/gallery/3.png">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="position-absolute restaurant-slider-pics bg-dark text-white">2 of 14-->
<!--                    Photos-->
<!--                  </div>-->
<!--                  <div class="position-absolute restaurant-slider-view-all">-->
<!--                    <button type="button"-->
<!--                            class="btn btn-light bg-white">See all Photos-->
<!--                    </button>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
      </div>
      <div class="col-md-4">
<!--        <app-cart-detail-restaurant></app-cart-detail-restaurant>-->
<!--      <app-cart-detail-restaurant  *ngIf="isLogin&&isUser&&!isMerchant&&!isCheckAdmin"></app-cart-detail-restaurant>-->
        <div *ngIf="(isLogin&&isUser&&!isMerchant&&!isCheckAdmin)||(isLogin&&isUser&&isMerchant&&!isCheckAdmin)"
             class="generator-bg rounded shadow-sm mb-4 p-4 osahan-cart-item">
          <h5 class="mb-1 text-white">Danh sách đặt hàng</h5>
          <p class="mb-4 text-white">{{count}} sản phẩm</p>
          <div class="bg-white rounded shadow-sm mb-2">
            <div *ngFor="let detail of cartDetail" class="gold-members p-2 border-bottom">
               <span class="count-number float-right">
                                    <button (click)="decreaseFromCart(detail.food.id)" class="btn btn-outline-secondary  btn-sm left dec"> <i
                                      class="icofont-minus"></i> </button>
                                    <input class="count-number-input" type="text" value="{{detail.quantity}}" readonly="">
                                    <button (click)="increaseFromCart(detail.food.id)" class="btn btn-outline-secondary btn-sm right inc"> <i
                                      class="icofont-plus"></i> </button>
                                </span>
              <p class="text-gray mb-0 float-right ml-2">{{detail.totalPrice| currency: 'VND':''}} VND</p>
              <div class="media">
                <div class="mr-2"><i class="icofont-ui-press text-danger food-item"></i></div>
                <div class="media-body">
                  <p class="mt-1 mb-0 text-black">{{detail.food.name}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-2 bg-white rounded p-2 clearfix">
            <img class="img-fluid float-left" src="assets/template/img/wallet-icon.png">
            <h6 class="font-weight-bold text-right mb-2">Tổng đơn: <span
              class="text-danger">{{total| currency: 'VND':''}}</span> VND</h6>
<!--            <h6 class="font-weight-bold text-right mb-2">Giảm giá: <span-->
<!--              class="text-danger">0</span> vnđ</h6>-->
            <h6 class="font-weight-bold text-right mb-2">Thanh toán: <span
              class="text-danger">{{total| currency: 'VND':''}}</span> VND</h6>
            <!-- <p class="seven-color mb-1 text-right">Extra charges may apply</p> -->
            <!--            <p class="text-black mb-0 text-right">Tiết kiệm 30.000 vnđ</p>-->
          </div>
          <a routerLink="/user" class="btn btn-success btn-block btn-lg">Đặt hàng ngay <i
            class="icofont-long-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>



