
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-12 col-lg-12">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
              <h3 class="login-heading mb-4">Cập nhật món ăn</h3>

              <div>
                <div>
                  <p *ngIf="mess" style="color: red">{{mess}}</p>
                </div>
              </div>
              <form [formGroup]="form" >
                <div hidden class="form-label-group">
                  <input type="text" id="inputId" formControlName = "id" class="form-control"
                         placeholder="">
                  <label for="inputName"></label>
                </div>
                <div class="form-label-group">
                  <input type="text" id="inputName" formControlName = "name" class="form-control"
                         placeholder="">
                  <label for="inputName">Tên món ăn</label>
                </div>
                <div class="form-label-group">
                  <span class="text-secondary">Mô tả</span>
                  <textarea type="text" style="text-align: left" id="phonenumber" formControlName = "description" class="form-control"
                            placeholder=""> </textarea>
<!--                  <label for="phonenumber">Mô tả</label>-->
                </div>
                <div class="form-label-group mb-4">
                  <input type="number" id="price" formControlName = "price" class="form-control" placeholder="">
                  <label for="price">Giá</label>
                </div>
                <div class="form-label-group mb-4">
                  <input type="number" id="price2" formControlName = "priceDiscount" class="form-control" placeholder="">
                  <label for="price2">Giá khuyến mại</label>
                </div>
                <div class="form-label-group mb-4">
                  <label>Lựa chọn loại món ăn</label> <br><br><br>
                  <select formControlName="foodCategoryId" class="form-control">
                    <option [defaultSelected]="defaultCategory" *ngFor="let itemCategory of listCategory" [value]="itemCategory.id">
                      <p>{{itemCategory.nameCategory}}</p>
                    </option>
                  </select>
                </div>
                <div>
                  <label for="price2">Đổi ảnh món ăn</label>
                  <div style="margin-bottom: 10px; margin-top: 10px">
                    <img id="food-image" [src]="showImage" style="width: 300px; height: auto">
                  </div>
                  <app-upload-image (giveURLtoCreate)="editImage($event)"></app-upload-image>
                </div>
                <br>
                <button  class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2 " data-toggle="modal" data-target="#exampleModal">Cập nhật thông tin</button>
                <a routerLink="/merchant" class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Quay lại</a>
                <!--                <a href="index.html"-->
                <!--                   class="btn btn-lg btn-outline-primary btn-block btn-customer-login text-uppercase font-weight-bold mb-2">Cập nhật thông tin</a>-->
                <div class="text-center pt-3">
<!--                  <a class="font-weight-bold">Quay trở lại trang chủ</a>-->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cập nhật món ăn</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="color: red">
        Cập nhật
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <a (click)="update()" type="button" class="btn btn-primary" data-dismiss="modal">Xác nhận</a>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
