<div class="login d-flex align-items-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
        <h3 class="login-heading mb-4">Thêm món ăn</h3>
        <div>
          <div>
            <p *ngIf="mess" style="color: red">{{mess}}</p>
          </div>
        </div>
        <form [formGroup]="form">
          <div class="form-label-group">
            <input formControlName="name" type="text" id="ptext3" class="form-control" >
            <label for="ptext3" class="text-secondary">Tên món</label>
            <div *ngIf="!name?.valid && name?.touched">
              <div [hidden]="!name?.errors?.['required']">
                <p style="color: red">Tên món ăn không được để trống</p>
              </div>
            </div>
          </div>
          <div class="form-label-group">
            <span class="text-secondary">Mô tả</span>
            <textarea formControlName="description" type="text" id="description" class="form-control"></textarea>
<!--            <label for="description">Mô tả</label>-->
            <div *ngIf="!description?.valid && description?.touched">
              <div [hidden]="!description?.errors?.['required']">
                <p style="color: red">Mô tả không được để trống</p>
              </div>
            </div>
          </div>
          <div class="form-label-group mb-4">
            <input  formControlName="price" type="number" id="ptext" class="form-control">
            <label for="ptext" class="text-secondary">Giá</label>
            <div *ngIf="!price?.valid && price?.touched">
              <div [hidden]="!price?.errors?.['required']">
                <p style="color: red">Giá không được để trống</p>
              </div>
            </div>
          </div>

          <div class="form-label-group mb-4">
            <input formControlName="priceDiscount" type="number" id="ptext2"  class="form-control">
            <label for="ptext2" class="text-secondary">Giá khuyến mại</label>
            <div *ngIf="!priceDiscount?.valid && priceDiscount?.touched">
              <div [hidden]="!priceDiscount?.errors?.['required']">
                <p style="color: red">Giá KM không được để trống</p>
              </div>
            </div>
          </div>
          <div class="form-label-group mb-4">
            <label class="text-secondary">Lựa chọn loại món ăn</label> <br><br><br>
            <select formControlName="foodCategoryId" class="form-control">
              <option *ngFor="let itemCategory of listCategory" [value]="itemCategory.id">
                <p>{{itemCategory.nameCategory}}</p>
              </option>
            </select>
            <div *ngIf="!foodCategoryId?.valid && foodCategoryId?.touched">
              <div [hidden]="!foodCategoryId?.errors?.['required']">
                <p style="color: red">Hãy lựa chọn danh mục món ăn</p>
              </div>
            </div>
          </div>
          <div class="form-label-group mb-4">

            <app-upload-image (giveURLtoCreate)="uploadImage($event)"></app-upload-image>
          </div>
          <a data-toggle="modal" data-target="#exampleModal" class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Thêm mới món ăn</a>
          <a class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2" routerLink="/merchant">Quay lại</a>
<!--          <div class="text-center pt-3">-->
<!--            Bạn đã có tài khoản? <a class="font-weight-bold" href="login.html" >Khởi tạo</a>-->
<!--          </div>-->

        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tạo mới món ăn</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="color: red">
        Xác nhận tạo mới!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <a (click)="createFood()" routerLink="/merchant" type="button" class="btn btn-primary" data-dismiss="modal">Xác nhận</a>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
